{% extends 'base.html.twig' %}
{% use '/account/_layout_menu.html.twig' %}

{% block title %}Snow Trick / Modifier votre mot de passe{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="background-image"
         style="background-image: url({{ asset('/uploads/pictures/snow-3.jpg') }});
                 -webkit-filter: blur(5px);
                 -moz-filter: blur(5px);
                 -o-filter: blur(5px);
                 -ms-filter: blur(5px);
                 filter: blur(5px);
                 position: fixed;
                 width: 100%;
                 height: 100%;
                 top: 0;
                 left: 0;
                 z-index: -1;
                 background-position: center;"></div>
    <section class="bg-light shadow-lg " id="portfolio" style="background-color: rgba(0, 0, 0, 0)!important;">

    <div class="container ">
            <div class="row">
                {% block menu %}
                    {{ parent() }}
                {% endblock %}
                <div class="col-md-9 col-sm-12">
                    <div class="card ml-auto mr-auto">
                        <div class="media-body ">
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="form-group">
                                        <h3 class="mb-5 mt-4">Modifier votre mot de passse</h3>

                                        {{ form(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
